/*  MICROTHEMER STYLES  */

/*= Hand Coded CSS ============ */

.mobile-branding .preload-me {
	
}



/*[ Tablet & Phone ]*/
@media (max-width: 767px) {

	/*= General =================== */

	/** General >> Mobile branding link **/
	.mobile-branding a {
		border-top-color: rgb(203, 215, 234) !important;
		border-top-width: 2px !important;
		border-top-style: dashed !important;
	}
}