/*
Theme Name: ehdk
Author: ErhvervsHjemmesider.dk
Author URI: https://erhvervshjemmesider.dk/
Description: 
Version: 1.0.0
License: 
Template: dt-the7
*/



.addon-name {
    font-size: 13px;
    line-height: 25px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
}

.product-addon label {
    font-size: 13px;
    line-height: 25px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
}

.shop_table .variation {
    display: block !important;
}

.cart_item .product-name {
	font-size: 18px;
}

.woocommerce-cart-wrap .shop_table thead th, .woocommerce-cart-wrap .cart.shop_table thead th {
    font-size: 14px;
    text-align: center;
    font-weight: 700;
}

.content .variation dt {
    font-size: 14px;
    font-weight: 700;
}

.woocommerce-cart-wrap .cart_item .product-name {
  width: auto !important;
  padding-left: 25px !important;
}

.woocommerce-checkout-review-order-table .variation {
    display: none !important;
}

.shop_table.order_details .product-quantity {
    display: none;
}

.shop_table .wc-item-meta {
    display: block;
    width: 100%;
}
.shop_table .wc-item-meta li:nth-of-type(1n+3) {
    display: none;
}
